.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

Project_Src/pipeline_cpu/pipeline_cpu.cache/*
Project_Src/pipeline_cpu/pipeline_cpu.sim/*
Project_Src/pipeline_cpu/pipeline_cpu.runs/*
